<ion-header>
  <ion-toolbar>
    <ion-title>rec_password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-input formControlName="nombre" label="Usuario" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>
    </form>

    <ion-button color="secondary" style="color: black;" (click)="rec_pass()">Ingresar</ion-button>
  </div>
</ion-content>